.content {
    display: flex;
    justify-content: space-between;
    padding: 1.25%;
    background-color: #fff;
}

#order-summary,
.payment-form {
    background-color: #fff;
    padding: 1.25%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#order-summary {
    flex: 2;
    margin-right: 5%;
    text-align: left;
}

.payment-form {
    flex: 1;
    max-width: 350px;
    text-align: left;
}

#order-summary table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#order-summary th,
#order-summary td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#order-summary th {
    background-color: #f2f2f2;
}

#order-summary td img {
    max-width: 100px;
    border-radius: 5px;
}

tfoot td {
    font-weight: bold;
    text-align: right;
}

.payment-form label {
    display: block;
    margin-top: 2.5%;
    margin-bottom: 0.5%;
}

.payment-form input,
.payment-form textarea {
    width: 100%;
    padding: 1.25%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.payment-form input[type="submit"] {
    width: 100%;
    padding: 1.25%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.payment-form input[type="submit"]:hover {
    background-color: #45a049;
}